*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #333; }

body {
  font-weight: 400;
  line-height: 1.7;
  color: #fff; }

body.light {
  color: #000; }

.heading-primary {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 700; }

.heading-tertiary {
  font-size: 2rem; }

.u-hidden {
  display: none; }

p.selected {
  background-color: #32cd32; }

p.incorrect {
  color: red; }

.board {
  margin-top: 1rem;
  padding: 5rem 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  background-color: rgba(0, 0, 0, 0.8); }
  .board__table {
    border-collapse: collapse; }
  .board__column-group:not(:first-child) {
    border-left: 2px solid #eee; }
  .board__column:not(:last-child) {
    border-right: 1px solid #333; }
  .board__row-group:not(:last-child) {
    border-bottom: 2px solid #eee; }
  .board__row:not(:last-child) {
    border-bottom: 1px solid #333; }
  .board__cell {
    width: 6rem;
    height: 6rem;
    margin: 0;
    vertical-align: middle;
    text-align: center; }

.tile {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  font-size: 3rem;
  text-align: center;
  background-color: #333;
  margin-block-start: 0;
  margin-block-end: 0; }
  .tile--big {
    display: block;
    border: 2px solid #006400;
    width: 6rem;
    height: 6rem;
    font-size: 4rem;
    margin-left: 5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; }

.rightBorder {
  border-right: 4px solid #000; }

.bottomBorder {
  border-bottom: 4px solid #000; }

.header {
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid red; }

.setup-game {
  display: flex;
  justify-content: center; }

.setup-game > div {
  margin-bottom: 2rem;
  padding-left: 5rem;
  padding-right: 5rem; }

.footer {
  background-color: #eee;
  color: #333;
  text-align: center;
  padding: 3rem 0;
  margin-top: 10rem;
  font-size: 1.6rem; }

.game-section {
  display: flex;
  justify-content: center; }
