// COLORS

$color-green-light: #32cd32;
$color-green-dark: #006400;

$color-gray-light: #ddd;
$color-gray-dark: #333;

$color-white: #fff;
$color-black: #000;

$color-portfolio-light: #fb000d;

// FONT
$default-font-size: 1.6rem;

// SHADOWS
$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
