.board {
	padding: 2rem 5rem;

	@include respond(tab-port) {
		padding: 2rem 0rem;
	}

	&__table {
		border-collapse: collapse;
		display: flex;
		flex-direction: column;
	}

	&__row-group {
		display: flex;
		flex-direction: column;
	}

	&__row-group:not(:last-child) {
		border-bottom: 2px solid $color-gray-light;
	}

	&__row {
		display: flex;

		&:not(:last-child) {
			border-bottom: 1px solid $color-gray-dark;
		}
	}

	&__cell {
		width: 6rem;
		height: 6rem;
		display: flex;
		align-items: center;
		justify-content: center;

		&:not(:last-child) {
			border-right: 1px solid $color-gray-dark;
		}

		&:nth-child(3),
		&:nth-child(6) {
			border-right: 2px solid $color-gray-light !important;
		}
	}
}

.tile {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 80%;
	height: 80%;
	font-size: 3rem;
	cursor: pointer;

	&--big {
		width: 6rem;
		height: 6rem;
		border: 3px solid $color-green-dark;
		font-size: 4rem;

		margin-left: 1rem;
		margin-top: 1rem;
	}
}
