.hidden {
	display: none;
	opacity: 0;
}

.disabled {
	background-color: rgba($color-gray-dark, 0.6);
	color: $color-gray-light;
	cursor: auto !important;
}

.highlighted {
	color: $color-green-light;
	// background-color: rgba($color-green-light, 0.6);
}

.selected {
	// background-color: $color-green-light;
	background-color: rgba($color-green-light, 0.6);
	color: $color-white;
}
