.setup-section {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	.difficulty-form {
		text-align: center;
		padding-bottom: 2rem;
	}
}

.toolbar-section {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 5rem 10rem;
}

.game-section {
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;

	@include respond(tab-port) {
		flex-direction: column;
	}
}

.number-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex: 0 0 auto;

	flex-direction: column;
	height: 35rem;

	@include respond(tab-port) {
		flex-direction: row;
		width: 35rem;
		height: auto;
	}
}
